body {
  font-family: "Open Sans", sans-serif;
}
/* END BODY */

.navbar {
  margin: 21px 0;
}
.navbar-default {
  background: transparent;
  border: none;
}
.navbar-nav > li > a {
  font-weight: bold;
}
.navbar-brand {
  font-family: "Indie Flower", cursive;
}
/* END NAVBAR */

header {
  padding: 20px 0;
}
/* END HEADER */

.featured {
  background: #ffa500 url("../images/background-banner.png");
  color: white;
  padding: 40px 0;
  margin-bottom: 40px;
}
.featured h1 {
  font-size: 60px;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
  margin-top: 0px;
}
.featured p {
  font-size: 20px;
}
.btnFeatured {
    border: none;
}
.btnFeatured:hover {
    color: #ffa500;
    background-color: rgba(107, 70, 2, 0.7);
}
/* END FEATURED */

.learning .glyphicon {
  font-size: 50px;
  margin: 20px 0;
}
.learning h3 a {
    color: #ffa500; 
}
/* END LEARNING */

.btnMasuk {
    background-color: white;
    color: #ffa500;
    border: 2px solid #ffa500;
}
.btnMasuk:hover {
    color: #ffa500;
    background-color: rgba(255, 165, 0, 0.4);
    border: 2px solid #ffa500;
}

.title {
  margin-bottom: 40px;
}
.title h2 {
  margin: 0px;
}
/* END TITLE */

.belajar-h2 {
  margin-bottom: 20px;
  font-weight: bold;
}
.belajar-p {
  margin-bottom: 30px;
  font-size: 15px;
}
/* END BELAJAR*/

footer {
  background: rgb(255, 165, 0);
  margin-top: 30px;
  padding: 30px 0 40px 0;
}
.copyright {
  background: rgb(207, 135, 0);
  padding: 10px 0;
}
.footer .glyphicon {
  font-size: 50px;
}
/* END FOOTER */

.contact label, .option, button {
	margin-top: 10px;
}
.contact .btnSubmit {
  margin-bottom: 30px;
}
/* END CONTACT */


/* STYLE FRONT-END-PAGE */
.container-front-end-page {
  margin: 10px auto 80px;
}